<div class="row mt-3">
    <h5>Add Statement</h5>
    <div class="input-group mb-3">
        <select class="form-select" id="inputGroupAddStatementTab3">
            <option value = "for" disabled>for</option>
            <option value="switch" disabled>switch</option>
            <option value="if" disabled>if</option>
            <option value="method" disabled>method</option>
            <option value="variable" selected>variable</option>
        </select>
        <label class="input-group-text" for="inputGroupAddStatementTab3"
            onclick="addStatementView(this.htmlFor,'codeSection')">Add</label>
    </div>
</div>

<div id="codeSection">

</div>

<div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button class="btn btn-primary btn-sm" type="submit"
        onclick="parseCodeSection('codeSection')">Generate Code</button>
</div>
