<div class="row">
    <h2>
        Code Editor
    </h2>
</div>
<div class="row">
    <main class="form-signin w-100 m-auto">
        <form>
            <div class="form-floating">
                <textarea class="form-control text-light bg-dark" placeholder="write code here"
                    id="textEditor" rows="36" style="height: 100%" onclick="getCursorPosition(this)">void loop(){} </textarea>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Save</button>
        </form>
    </main>
</div>